@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes apper {
    from {
        scale: 0.5
    }

    to {
        scale: 1;
    }
}

html {
    scroll-behavior: smooth;
}

section div {
    animation: apper both;
    animation-timeline: view(85% 0%);
}

:root {
    --swiper-theme-color: #1d4ed8;
    --swiper-pagination-bullet-inactive-color: #999;
    --swiper-pagination-bullet-inactive-opacity: 0.7;
}

.dark {
    --swiper-theme-color: #38bdf8;
    --swiper-pagination-bullet-inactive-color: #555;
    --swiper-pagination-bullet-inactive-opacity: 0.7;
}